<textarea [id]="'textarea' + 0"
          required>
</textarea>

<form novalidate
      #testForm="ngForm"
      class="margin-top">

  <md-select required
             name="subject"
             class="block margin-bottom"
             placeholder="Предмет"
             [(ngModel)]="test.subject"
             (ngModelChange)="onSubjectChange($event)">
    <md-option *ngFor="let subject of subjects" [value]="subject._id">
      {{ subject.name }}
    </md-option>
  </md-select>

  <md-select required
             name="category"
             class="block margin-bottom"
             placeholder="Категорія"
             [(ngModel)]="test.category">
    <md-option *ngFor="let category of categories" [value]="category._id">
      {{ category.name }}
    </md-option>
  </md-select>

  <md-input-container class="block margin-bottom">
    <input mdInput
           required
           type="number"
           name="tasksQuantity"
           placeholder="Кількість запитань в тесті"
           min="1"
           [ngModel]="test.questions.length"
           (ngModelChange)="onQuestionsQuantityChange($event)">
  </md-input-container>

  <div *ngIf="test.questions.length">
    <md-tab-group>
      <md-tab *ngFor="let question of test.questions; let questionIndex = index"
              [label]="questionIndex + 1">
        <!--<textarea [id]="'textarea' + questionIndex"-->
                  <!--required>-->
        <!--</textarea>-->

        <!--<md-input-container class="block margin-bottom question-title">-->
          <!--<textarea mdInput-->
                    <!--id="textarea"-->
                    <!--required-->
                    <!--[name]="'task' + questionIndex"-->
                    <!--placeholder="Завдання"-->
                    <!--[(ngModel)]="question.question">-->
          <!--</textarea>-->
        <!--</md-input-container>-->

        <div>
          <input type="file"
                 hidden
                 [id]="'image' + questionIndex"
                 (change)="uploadImage($event, questionIndex)"
                 accept="image/*"
                 #fileInput>

          <button md-raised-button
                  type="button"
                  class="margin-bottom"
                  (click)="fileInput.click()">
            Додати зображення
          </button>

          <md-grid-list *ngIf="imagesUrls[questionIndex]" cols="1">
            <md-grid-tile [style.background-image]="imagesUrls[questionIndex]">
            </md-grid-tile>

            <md-grid-tile-footer class="preview-footer">
              <md-icon>delete_forever</md-icon>
            </md-grid-tile-footer>
          </md-grid-list>
        </div>

        <md-nav-list class="block slider-margin-bottom">
          <span>
            Завдання на відповідність
            <md-slide-toggle [name]="'matching' + questionIndex"
                             [(ngModel)]="question.matchingQuestion"
                             (change)="onMatchingQuestionSelected(question)">
            </md-slide-toggle>
          </span>
        </md-nav-list>

        <md-input-container class="block margin-bottom">
          <input mdInput
                 required
                 type="number"
                 [name]="'answersQuantity' + questionIndex"
                 placeholder="Кількість відповідей"
                 min="1"
                 max="32"
                 [ngModel]="question.answers.length"
                 (ngModelChange)="onAnswersQuantityChange($event, question)">
        </md-input-container>

        <llta-simple-question *ngIf="!question.matchingQuestion"
                              [question]="question"
                              [questionIndex]="questionIndex">

        </llta-simple-question>

        <llta-matching-question *ngIf="question.matchingQuestion"
                                [question]="question"
                                [questionIndex]="questionIndex">
        </llta-matching-question>
      </md-tab>
    </md-tab-group>
  </div>
</form>
