<form novalidate
      #testForm="ngForm"
      class="margin-top">
  <mat-form-field class="block margin-bottom">
    <mat-select required
                name="subject"
                placeholder="Предмет"
                [(ngModel)]="test.subject"
                (ngModelChange)="onSubjectChange($event)">
      <mat-option *ngFor="let subject of subjects" [value]="subject._id">
        {{subject.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="block margin-bottom">
    <mat-select required
                name="category"
                placeholder="Тема"
                [(ngModel)]="test.category">
      <mat-option *ngFor="let category of categories" [value]="category._id">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-input-container class="block margin-bottom">
    <input matInput
           required
           type="text"
           name="testName"
           placeholder="Назва тесту"
           [(ngModel)]="test.name">
  </mat-input-container>

  <div class="block margin-bottom question-title">
    <div class="form-label">Примітка</div>

    <nt-text-editor elementId="comment"
                    [(text)]="test.comment">
    </nt-text-editor>
  </div>

  <mat-input-container class="block margin-bottom">
    <input matInput
           required
           type="number"
           name="tasksQuantity"
           placeholder="Кількість запитань в тесті"
           min="1"
           [ngModel]="test.questions.length"
           (ngModelChange)="onQuestionsQuantityChange($event)">
  </mat-input-container>

  <div *ngIf="test.questions.length > 0">
    <mat-tab-group [(selectedIndex)]="selectedIndex">
      <mat-tab *ngFor="let question of test.questions; let questionIndex = index"
               [label]="questionIndex + 1">
        <div class="block margin-bottom question-title">
          <div class="form-label">Завдання*</div>

          <nt-text-editor *ngIf="questionIndex === selectedIndex"
                          [elementId]="'question' + questionIndex"
                          [(text)]="question.question">
          </nt-text-editor>
        </div>

        <mat-nav-list class="block slider-margin-bottom">
          <span>
            Завдання на відповідність
            <mat-slide-toggle [name]="'matching' + questionIndex"
                              [(ngModel)]="question.matchingQuestion"
                              (change)="onMatchingQuestionSelected(questionIndex)">
            </mat-slide-toggle>
          </span>
        </mat-nav-list>

        <nt-simple-question *ngIf="!question.matchingQuestion"
                            [question]="question"
                            [questionIndex]="questionIndex"
                            [selectedIndex]="selectedIndex">
        </nt-simple-question>

        <nt-matching-question *ngIf="question.matchingQuestion"
                              [question]="question"
                              [questionIndex]="questionIndex"
                              [selectedIndex]="selectedIndex">
        </nt-matching-question>
      </mat-tab>
    </mat-tab-group>
  </div>
</form>
