<div class="center-align">
  <h1 class="app-name">NUWEE Tests | admin</h1>

  <mat-grid-list cols="2"
                 rowHeight="150px"
                 class="welcome-page-menu">
    <mat-grid-tile class="left-column">
      <mat-nav-list class="welcome-page-menu">
        <a mat-list-item
           class="right-padding"
           routerLink="/tests/create">
          <h4 mat-line>Додати тест</h4>
        </a>

        <a mat-list-item
           class="right-padding"
           routerLink="/categories/create">
          <h4 mat-line>Додати тему</h4>
        </a>

        <a mat-list-item
           class="right-padding"
           routerLink="/subjects/create">
          <h4 mat-line>Додати предмет</h4>
        </a>
      </mat-nav-list>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-nav-list class="welcome-page-menu">
        <a mat-list-item
           class="left-padding"
           routerLink="/tests">
          <h4 mat-line>Cписок тестів</h4>
        </a>

        <a mat-list-item
           class="left-padding"
           routerLink="/categories">
          <h4 mat-line>Cписок тем</h4>
        </a>

        <a mat-list-item
           class="left-padding"
           routerLink="/subjects">
          <h4 mat-line>Cписок предметів</h4>
        </a>
      </mat-nav-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>
