<h1 *ngIf="id">Редагувати предмет</h1>
<h1 *ngIf="!id">Додати предмет</h1>

<form novalidate
      #createsubjectform="ngForm"
      (ngSubmit)="submit(createsubjectform)"
      class="margin-top">

  <md-input-container class="block margin-bottom">
    <input mdInput
           required
           name="subject"
           placeholder="Введіть назву нового предмету"
           min="1"
           [(ngModel)]="subject.name">
  </md-input-container>

  <div class="block center-align">
    <button md-raised-button type="reset">
      Очистити форму
    </button>

    <button md-raised-button [disabled]="!createsubjectform.form.valid">
      Створити предмет
    </button>
  </div>

</form>
