<h1>Список тем</h1>

<mat-form-field class="block margin-bottom margin-top">
  <mat-select name="subject"
              required
              placeholder="Предмет"
              [(ngModel)]="subject"
              (ngModelChange)="onSubjectChange($event)">
    <mat-option *ngFor="let subject of subjects" [value]="subject._id">
      {{subject.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-tab-group *ngIf="subject && categories.length">
  <mat-tab *ngFor="let number of getPagingRange(categories.length)"
           [label]="number + 1">
    <mat-list>
      <mat-list-item *ngFor="let category of categories | slice:(number * 7):(number * 7 + 7)">

        <div fxFlex="30">{{category.name}}</div>

        <button mat-button
                [routerLink]="category._id + '/edit'">
          <mat-icon class="grey">mode_edit</mat-icon>
          <span>Редагувати</span>
        </button>

        <button mat-button
                (click)="confirmDelete(category._id)">
          <mat-icon class="grey">delete_forever</mat-icon>
          <span>Видалити</span>
        </button>

      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>
