<h1 *ngIf="id">Редагувати категорію</h1>
<h1 *ngIf="!id">Додати категорію</h1>

<form novalidate
      #createcategoryform="ngForm"
      (ngSubmit)="submit()"
      class="margin-top">

  <md-select name="subject"
             required
             class="block margin-bottom"
             placeholder="Оберіть предмет"
             [(ngModel)]="category.subject">

    <md-option *ngFor="let subject of subjects" [value]="subject._id">
      {{ subject.name }}
    </md-option>

  </md-select>

  <md-input-container class="block margin-bottom">
    <input mdInput
           required
           name="category"
           placeholder="Введіть назву нової категорії"
           min="1"
           [(ngModel)]="category.name">
  </md-input-container>

  <div class="block center-align">
    <button md-raised-button [disabled]="!createcategoryform.form.valid">
      Створити категорію
    </button>

    <button md-raised-button type="reset">
      Очистити форму
    </button>
  </div>

</form>
