<form novalidate (ngSubmit)="onSubmit()" #createcategoryform="ngForm" class="create-category-form">
  <div class="row input-field">
    <select required
            id="subject"
            name="subject"
            [(ngModel)]="subject">
      <option value="" disabled selected>-- Предмет --</option>
      <option value="language">Українська мова</option>
      <option value="literature">Українська література</option>
    </select>
    <label for="subject">Оберіть предмет</label>
  </div>

  <div class="row input-field">
    <input type="text"
           id="category"
           name="category"
           [(ngModel)]="category"
           [disabled]="!subject" />
    <label for="category">Введіть назву нової категорії</label>
  </div>

  <div class="row">
    <button type="submit"
            class="btn waves-effect light-blue"
            [disabled]="!createcategoryform.form.valid">
      Створити
    </button>
  </div>
</form>