<form novalidate
      #categoryForm="ngForm"
      class="margin-top">
  <md-select name="subject"
             required
             class="block margin-bottom"
             placeholder="Предмет"
             [(ngModel)]="category.subject">

    <md-option *ngFor="let subject of subjects" [value]="subject._id">
      {{ subject.name }}
    </md-option>

  </md-select>

  <md-input-container class="block margin-bottom">
    <input mdInput
           required
           name="category"
           placeholder="Назва категорії"
           min="1"
           [(ngModel)]="category.name">
  </md-input-container>
</form>
