<div *ngIf="question.answers.length" class="hint">
  <p>Для вибору правильної відповіді натисніть на прапорець зправа від поля введення.</p>
</div>

<div *ngFor="let answer of question.answers; let j=index;"
     class="margin-bottom"
     fxLayout="row"
     fxLayoutAlign="space-between center">
  <mat-checkbox class="answer-checkbox"
               [name]="'rightAnswer' + questionIndex + '_' + j"
               [(ngModel)]="answer.correct">
  </mat-checkbox>

  <mat-input-container fxFlex>
    <textarea matInput
              required
              [name]="'answer_' + j + '_' + questionIndex"
              [placeholder]="'Відповідь ' + (j + 1)"
              [(ngModel)]="answer.text">
    </textarea>
  </mat-input-container>
</div>
