<mat-input-container class="block margin-bottom">
  <input matInput
         required
         type="number"
         [name]="'answersQuantity' + questionIndex"
         placeholder="Кількість варіантів відповідей"
         min="1"
         max="32"
         [ngModel]="question.answers.length"
         (ngModelChange)="onAnswersQuantityChange($event, question)">
</mat-input-container>

<div *ngIf="question.answers.length" class="hint">
  <p>Для вибору правильного варіанту відповіді натисніть на прапорець справа від поля введення.</p>
</div>

<div *ngFor="let answer of question.answers; let answerIndex=index;"
     class="margin-bottom"
     fxLayout="row"
     fxLayoutAlign="space-between center">
  <mat-checkbox class="answer-checkbox"
                [name]="'rightAnswer' + questionIndex + '_' + answerIndex"
                [(ngModel)]="answer.correct">
  </mat-checkbox>

  <nt-text-editor *ngIf="questionIndex === selectedIndex"
                  [elementId]="questionIndex + 'answer' + answerIndex"
                  [(text)]="answer.text"
                  fxFlex>
  </nt-text-editor>
</div>
