<h1>Список категорій</h1>

<md-select name="subject"
           required
           class="block margin-bottom margin-top"
           placeholder="Предмет"
           [(ngModel)]="subject"
           (ngModelChange)="onSubjectChange($event)">

  <md-option *ngFor="let subject of subjects" [value]="subject._id">
    {{ subject.name }}
  </md-option>

</md-select>

<md-tab-group *ngIf="subject">
  <md-tab *ngFor="let number of getPagingRange(categories.length)"
          [label]="number + 1">
    <md-list>
      <md-list-item *ngFor="let category of categories | slice: number * 7: number * 7 + 7">

        <div fxFlex="30">{{ category.name }}</div>

        <button md-button
                [routerLink]="category._id">
          <md-icon class="gray-icon">mode_edit</md-icon>
          <span>Редагувати</span>
        </button>

        <button md-button
                (click)="delete(category._id)">
          <md-icon class="gray-icon">delete_forever</md-icon>
          <span>Видалити</span>
        </button>

      </md-list-item>
    </md-list>
  </md-tab>
</md-tab-group>
