@import "variables";

.nt-app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: Roboto;
  color: $text-color;
}

main {
  flex: 1 0 auto;
  padding: 30px 60px;
}

.mat-tab-body {
  overflow-y: hidden !important;
}
