@import "variables";

.center-align {
  text-align: center !important;
}

.right {
  float: right;
}

.left {
  float: left;
}

.link {
  text-decoration: none;
}

.llta-button {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  padding: 0 !important;
}

.block {
  display: block !important;
}

.margin-bottom {
  margin-bottom: 30px !important;
}

.margin-top {
  margin-top: 50px !important;
}

.slider-margin-bottom {
  margin-bottom: 40px !important;
}

.bold {
  font-weight: bold;
}

.gray-icon {
  color: $text-color;
}
