<md-toolbar color="primary" class="llta-toolbar">
  <a md-button
     class="toolbar-app-name"
     routerLink=".">
    <md-icon>check</md-icon>
    <span>М &amp; Л | admin</span>
  </a>

  <span md-button class="toolbar-button" class="fill-remaining-space"></span>

  <a md-button
     class="toolbar-button"
     [routerLink]="[ '/create-test' ]"
     routerLinkActive="active">
    Додати тест
    </a>
  <a md-button
     class="toolbar-button"
     [routerLink]="[ '/create-category' ]"
     routerLinkActive="active">
    Додати категорію
  </a>
  <a md-button
     class="toolbar-button"
     [routerLink]="[ '/tests' ]"
     routerLinkActive="active">
    Cписок тестів
  </a>
  <a md-button
     class="toolbar-button"
     [routerLink]="[ '/categories' ]"
     routerLinkActive="active">
    Cписок категорій
  </a>
</md-toolbar>
