<md-toolbar color="primary" class="llta-toolbar">
  <a md-button class="llta-button" routerLink=".">
    <md-icon>check</md-icon>
    <span>М &amp; Л | admin</span>
  </a>

  <a md-button class="llta-button" routerLink="create-test">Додати тест</a>
  <a md-button class="llta-button" routerLink="create-category">Додати категорію</a>
  <a md-button class="llta-button" routerLink="tests">Відкрити список тестів</a>
  <a md-button class="llta-button" routerLink="categories">Відкрити список категорій</a>
</md-toolbar>
