<md-toolbar color="primary" class="llta-toolbar mat-elevation-z3">
  <a md-button
     class="toolbar-app-name"
     routerLink="/">
    <md-icon>check</md-icon>
    <span>М &amp; Л | admin</span>
  </a>

  <span class="toolbar-button" fxFlex></span>

  <button md-button
          class="toolbar-button"
          [mdMenuTriggerFor]="add">
    Додати
    <md-icon>arrow_drop_down</md-icon>
  </button>
  <md-menu #add="mdMenu">
    <button md-menu-item
            routerLink="/create-test">
      Тест
    </button>
    <button md-menu-item
            routerLink="/create-category">
      Категорію
    </button>
    <button md-menu-item
            routerLink="/create-subject">
      Предмет
    </button>
  </md-menu>

  <button md-button
          class="toolbar-button"
          [mdMenuTriggerFor]="view">
    Переглянути
    <md-icon>arrow_drop_down</md-icon>
  </button>
  <md-menu #view="mdMenu">
    <button md-menu-item
            routerLink="/tests">
      Cписок тестів
    </button>
    <button md-menu-item
            routerLink="/categories">
      Cписок категорій
    </button>
    <button md-menu-item
            routerLink="/subjects">
      Cписок предметів
    </button>
  </md-menu>
</md-toolbar>
