<div *ngIf="showError">
  Неправильний логін або пароль!
</div>

<form novalidate (ngSubmit)="onSubmit()" #loginform="ngForm">
  <div class="">
    <label for="login">Логін</label>
    <input type="text" class="" id="login"
           required
           [(ngModel)]="inputLogin" name="inputLogin">
  </div>

  <div class="">
    <label for="password">Пароль</label>
    <input type="password" class="" id="password"
           required
           [(ngModel)]="inputPassword" name="inputPassword">
  </div>

  <button type="submit" class="" [disabled]="!loginform.form.valid">Увійти</button>
</form>