<mat-toolbar color="primary" class="llta-toolbar mat-elevation-z3">
  <a mat-button
     class="toolbar-app-name"
     routerLink="/">
    <mat-icon>check</mat-icon>
    <span>М &amp; Л | admin</span>
  </a>

  <span class="toolbar-button" fxFlex></span>

  <button mat-button
          class="toolbar-button"
          [matMenuTriggerFor]="add">
    Додати
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #add="matMenu">
    <button mat-menu-item
            routerLink="/tests/create">
      Тест
    </button>
    <button mat-menu-item
            routerLink="/categories/create">
      Категорію
    </button>
    <button mat-menu-item
            routerLink="/subjects/create">
      Предмет
    </button>
  </mat-menu>

  <button mat-button
          class="toolbar-button"
          [matMenuTriggerFor]="view">
    Переглянути
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #view="matMenu">
    <button mat-menu-item
            routerLink="/tests">
      Cписок тестів
    </button>
    <button mat-menu-item
            routerLink="/categories">
      Cписок категорій
    </button>
    <button mat-menu-item
            routerLink="/subjects">
      Cписок предметів
    </button>
  </mat-menu>
</mat-toolbar>
