@import "../css/variables";

.create-test-form {
  margin: 30px 0;

  .input-field label {
    color: $text-color;
  }

  .input-field input[type=text]:focus + label
  .input-field textarea:focus + label {
    color: $accent-color;
  }

  .input-field input[type=text]:focus,
  .input-field textarea:focus {
    border-bottom: 1px solid $accent-color;
    box-shadow: 0 1px 0 0 $accent-color;
  }

  .switch label input[type=checkbox]:checked + .lever,
  .switch label input[type=checkbox]:checked + .lever:after{
    background-color: #E040FB;
  }

  input[type=checkbox]:checked:not(:disabled) ~ .lever:active::after,
  input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::after {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(222, 63, 250, 0.1);
  }
}