<form novalidate (ngSubmit)="onSubmit()" #createtestform="ngForm" class="create-test-form">
  <div class="row input-field">
    <textarea class="materialize-textarea"
              id="question"
              required
              [(ngModel)]="question"
              name="question">
    </textarea>
    <label for="question">Завдання</label>
  </div>

  <div class="row">
    <div class="switch">
      <label>
        Додати зображення
        <input type="checkbox"
               [(ngModel)]="addImage"
               name="addImage">
        <span class="lever"></span>
      </label>
    </div>

    <div class="file-field input-field" *ngIf="addImage">
      <div class="btn waves-effect light-blue">
        <span>Додати зображення</span>
        <input type="file"
               id="image"
               [(ngModel)]="image"
               name="image"
               accept="image/*">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </div>

  <div class="row input-field">
    <div class="switch">
      <label>
        Завдання на відповідність
        <input type="checkbox"
               [(ngModel)]="matching"
               name="matching">
        <span class="lever"></span>
      </label>
    </div>
  </div>

  <div class="row input-field">
    <label for="answersQuantity">Виберіть кількість відповідей</label>
    <input type="number"
           class=""
           id="answersQuantity"
           required
           [(ngModel)]="answersQuantity"
           name="answersQuantity"
           min="0">
  </div>

  <div *ngIf="!matching" class="row">
    <textarea class="materialize-textarea"
              required
              *ngFor="let number of getNumbersRange()"
              [(ngModel)]="answers[number]"
              name="answer_{{ number }}">
    </textarea>
  </div>

  <table class="row" *ngIf="matching">
    <thead>
    <tr>
      <th class="input-field">
        <input type="text"
               class=""
               required
               [(ngModel)]="answersTableTitle[0]"
               name="answersTableTitle0"
               id="answersTableTitle0">
        <label for="answersTableTitle0">Заголовок</label>
      </th>
      <th class="input-field">
        <input type="text"
               class=""
               required
               [(ngModel)]="answersTableTitle[1]"
               name="answersTableTitle1"
               id="answersTableTitle1">
        <label for="answersTableTitle1">Заголовок</label>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let number of getNumbersRange()">
      <td>
        <input type="text"
               class=""
               required
               [(ngModel)]="answersLetters[number]"
               name="answersLetters{{ number }}">
      </td>
      <td>
        <input type="text"
               class=""
               required
               [(ngModel)]="answersNumbers[number]"
               name="answersNumbers{{ number }}">
      </td>
    </tr>
    </tbody>
  </table>

  <div class="row">
    <button type="submit"
            class="btn waves-effect light-blue center-align"
            [disabled]="!createtestform.form.valid">
      Створити тест
    </button>
  </div>
</form>