<form novalidate
      #categoryForm="ngForm"
      class="margin-top">
  <mat-select name="subject"
             required
             class="block margin-bottom"
             placeholder="Предмет"
             [(ngModel)]="category.subject">

    <mat-option *ngFor="let subject of subjects" [value]="subject._id">
      {{ subject.name }}
    </mat-option>

  </mat-select>

  <mat-input-container class="block margin-bottom">
    <input matInput
           required
           name="category"
           placeholder="Назва категорії"
           min="1"
           [(ngModel)]="category.name">
  </mat-input-container>
</form>
