<form novalidate (ngSubmit)="onSubmit()" #createtestform="ngForm">
  <div class="">
    <label for="question">Завдання</label>
    <textarea class=""
              id="question"
              required
              [(ngModel)]="question"
              name="question">
    </textarea>
  </div>

  <div class="">
    <label for="image">Додати зображення</label>
    <input type="image"
           class=""
           id="image"
           [(ngModel)]="image"
           name="image">
  </div>

  <div class="">
    <label for="image">Завдання на відповідність</label>
    <input type="checkbox"
           class=""
           id="matching"
           [(ngModel)]="matching"
           name="matching">
  </div>

  <div class="" *ngIf="!matching">
    <label for="answersQuantity">Виберіть кількість відповідей</label>
    <input type="number"
           class=""
           id="answersQuantity"
           required
           [(ngModel)]="answersQuantity"
           name="answersQuantity"
           min="1">
  </div>

  <div *ngIf="!matching">
    <textarea class=""
              required
              *ngFor="let number of getNumbersRange()"
              [(ngModel)]="answers[number - 1]"
              name="answers{{ number - 1 }}">
    </textarea>
  </div>

  <table class="" *ngIf="matching">
    <thead>
    <tr>
      <th>
        <input type="text"
               class=""
               required
               [(ngModel)]="answersTableTitle[0]"
               name="answersTableTitle0">
      </th>
      <th>
        <input type="text"
               class=""
               required
               [(ngModel)]="answersTableTitle[1]"
               name="answersTableTitle1">
      </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let number of getNumberRange(answersQuantity)">
      <td>
        <input type="text"
               class=""
               required
               [(ngModel)]="answersLetters[number - 1]"
               name="answersLetters{{ number - 1 }}">

        <input type="text"
               class=""
               required
               [(ngModel)]="answersNumbers[number - 1]"
               name="answersNumbers{{ number - 1 }}">
      </td>
    </tr>
    </tbody>
  </table>

  <button type="submit" class="" [disabled]="!createtestform.form.valid">Створити тест</button>
</form>