<h1>Список предметів</h1>

<md-tab-group class="margin-top">
  <md-tab *ngFor="let number of getPagingRange(subjects.length)"
          [label]="number + 1">
    <md-list>
      <md-list-item *ngFor="let subject of subjects | slice: number * 7: number * 7 + 7">
        <div fxFlex="30">{{ subject.name }}</div>

        <button md-button
                [routerLink]="subject._id">
          <md-icon class="gray-icon">mode_edit</md-icon>
          <span>Редагувати</span>
        </button>

        <button md-button
                (click)="delete(subject._id)">
          <md-icon class="gray-icon">delete_forever</md-icon>
          <span>Видалити</span>
        </button>
      </md-list-item>
    </md-list>
  </md-tab>
</md-tab-group>
