@import "../../../../styles/variables";

.disabled {
  color: rgba(0, 0, 0, 0.38);
}

.answers-table {
  width: 100%;

  &,
  th,
  td {
    border: none;
  }
}

:host /deep/ .cell {
  border: 1px solid $table-border-color;
  width: 24px;
  height: 24px;
  padding: 8px;
  text-align: center;

  .mat-radio-label {
    padding-left: 2px;
  }

  strong {
    vertical-align: sub;
  }
}
