<md-input-container class="block margin-bottom">
  <input mdInput
         required
         type="number"
         [name]="'numbersQuantity' + questionIndex"
         placeholder="Кількість відповідей (1 - x)"
         min="1"
         [max]="question.answers.length"
         [(ngModel)]="question.numberedAnswersQuantity"
         (ngModelChange)="onPartialQuantityChange()">
</md-input-container>

<md-input-container class="block margin-bottom">
  <input mdInput
         required
         type="number"
         [name]="'lettersQuantity' + questionIndex"
         placeholder="Кількість відповідей (A - Я)"
         min="1"
         [max]="question.answers.length"
         [(ngModel)]="question.letteredAnswersQuantity"
         (ngModelChange)="onPartialQuantityChange()">
</md-input-container>


<table class="answers-table margin-bottom"
       *ngIf="question.answers.length">
  <thead>
    <tr>
      <th>
        <md-input-container class="block">
          <input mdInput
                 required
                 [name]="'answersTableTitle0_' + questionIndex"
                 placeholder="Заголовок"
                 [(ngModel)]="question.tableTitles.title1">
        </md-input-container>
      </th>
      <th>
        <md-input-container class="block">
          <input mdInput
                 required
                 [name]="'answersTableTitle1_' + questionIndex"
                 placeholder="Заголовок"
                 [(ngModel)]="question.tableTitles.title2">
        </md-input-container>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let _ of question.answers; let j=index">
      <td>
        <md-input-container class="block">
          <input mdInput
                 [name]="'answersNumbers' + j + '_' + questionIndex"
                 [placeholder]="'Варіант ' + (j + 1)"
                 [disabled]="question.numberedAnswersQuantity <= j"
                 [(ngModel)]="question.table[0][j]">
        </md-input-container>
      </td>
      <td>
        <md-input-container class="block">
          <input mdInput
                 [name]="'answersLetters' + j + '_' + questionIndex"
                 [placeholder]="'Варіант ' + getLetterLabel(j)"
                 [disabled]="question.letteredAnswersQuantity <= j"
                 [(ngModel)]="question.table[1][j]">
        </md-input-container>
      </td>
    </tr>
  </tbody>
</table>

<div class="margin-bottom" *ngIf="question.answers.length > 0">
  <p>Правильні відповіді</p>

  <div fxLayout="column">
    <div fxLayout="row">
      <div class="cell"></div>
      <div class="cell"
           *ngFor="let _ of question.answers; let j=index"
           [class.disabled]="question.letteredAnswersQuantity <= j">
        <strong>{{ getLetterLabel(j) }}</strong>
      </div>
    </div>

    <md-radio-group required
                    *ngFor="let _ of question.answers; let j=index"
                    [name]="j"
                    fxLayout="row"
                    [disabled]="question.numberedAnswersQuantity <= j"
                    [(ngModel)]="question.answers[j]">
      <div class="cell"
           [class.disabled]="question.numberedAnswersQuantity <= j">
        <strong>{{ j + 1 }}</strong>
      </div>

      <md-radio-button class="cell"
                       [value]="k"
                       *ngFor="let _ of question.answers; let k=index"
                       [name]="j.toString() + k.toString()"
                       [disabled]="question.letteredAnswersQuantity <= k">
      </md-radio-button>
    </md-radio-group>
  </div>
</div>
