<mat-input-container class="block margin-bottom">
  <input matInput
         required
         type="number"
         [name]="'numbersQuantity' + questionIndex"
         placeholder="Кількість варіантів відповідей (1 - x)"
         min="1"
         [(ngModel)]="question.numberedAnswersQuantity"
         (ngModelChange)="onNumberedAnswersQuantityChange()">
</mat-input-container>

<mat-input-container class="block margin-bottom">
  <input matInput
         required
         type="number"
         [name]="'lettersQuantity' + questionIndex"
         placeholder="Кількість варіантів відповідей (A - Я)"
         min="1"
         [(ngModel)]="question.letteredAnswersQuantity">
</mat-input-container>

<table *ngIf="question.numberedAnswersQuantity > 0 && question.letteredAnswersQuantity > 0"
       class="answers-table margin-bottom">
  <tbody>
    <tr *ngFor="let _ of getAnswersRange(); let j=index">
      <td>
        <span [class.light-grey]="question.numberedAnswersQuantity <= j">
         Варіант {{(j + 1)}}
        </span>
        <nt-text-editor *ngIf="questionIndex === selectedIndex"
                        [elementId]="'answersNumbers' + j + '_' + questionIndex"
                        [(text)]="question.table[0][j]"
                        [readonly]="question.numberedAnswersQuantity <= j">
        </nt-text-editor>
      </td>
      <td>
        <span [class.light-grey]="question.letteredAnswersQuantity <= j">
         Варіант {{getLetterLabel(j)}}
        </span>
        <nt-text-editor *ngIf="questionIndex === selectedIndex"
                        [elementId]="'answersLetters' + j + '_' + questionIndex"
                        [(text)]="question.table[1][j]"
                        [readonly]="question.letteredAnswersQuantity <= j">
        </nt-text-editor>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="question.numberedAnswersQuantity > 0 && question.letteredAnswersQuantity > 0"
     class="margin-bottom">
  <p>Правильні відповіді</p>

  <div fxLayout="column">
    <div fxLayout="row">
      <div class="cell"></div>
      <div *ngFor="let _ of getLetteredAnswersRange(); let j=index"
           class="cell"
           [class.disabled]="question.letteredAnswersQuantity <= j">
        <strong>{{ getLetterLabel(j) }}</strong>
      </div>
    </div>

    <mat-radio-group *ngFor="let _ of question.matchingQuestionAnswers; let j=index"
                     required
                     [name]="j"
                     fxLayout="row"
                     [disabled]="question.numberedAnswersQuantity <= j"
                     [ngModel]="question.matchingQuestionAnswers[j]"
                     (ngModelChange)="onCorrectAnswerChange($event, j)">
      <div class="cell"
           [class.disabled]="question.numberedAnswersQuantity <= j">
        <strong>{{ j + 1 }}</strong>
      </div>

      <mat-radio-button *ngFor="let _ of getLetteredAnswersRange(); let k=index"
                        class="cell"
                        [value]="k"
                        [name]="j.toString() + k.toString()"
                        [disabled]="question.letteredAnswersQuantity <= k">
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
