.app-name {
  font-size: 7.5vw;
  color: rgba(0, 0, 0, 0.709804);
}

.welcome-page-menu, .welcome-page-menu a {
  width: 200px;
  margin: 0 auto;
}

.mat-list-item-content {
  padding: 0 !important;
}