<div class="center-align">
  <h1 class="app-name">М &amp; Л | admin</h1>

  <md-grid-list cols="2"
                rowHeight="150px"
                class="welcome-page-menu">
    <md-grid-tile class="left-column">
      <md-nav-list class="welcome-page-menu">
        <a md-list-item
           class="right-padding"
           routerLink="/create-test">
          <h4 md-line>Додати тест</h4>
        </a>

        <a md-list-item
           class="right-padding"
           routerLink="/create-category">
          <h4 md-line>Додати категорію</h4>
        </a>

        <a md-list-item
           class="right-padding"
           routerLink="/create-subject">
          <h4 md-line>Додати предмет</h4>
        </a>
      </md-nav-list>
    </md-grid-tile>

    <md-grid-tile>
      <md-nav-list class="welcome-page-menu">
        <a md-list-item
           class="left-padding"
           routerLink="/tests">
          <h4 md-line>Cписок тестів</h4>
        </a>

        <a md-list-item
           class="left-padding"
           routerLink="/categories">
          <h4 md-line>Cписок категорій</h4>
        </a>

        <a md-list-item
           class="left-padding"
           routerLink="/subjects">
          <h4 md-line>Cписок предметів</h4>
        </a>
      </md-nav-list>
    </md-grid-tile>
  </md-grid-list>
</div>
