@import "../../styles/variables";

.app-name {
  font-size: 7.5vw;
}

.welcome-page-menu {
  width: 350px;
  margin: 0 auto;
}

.mat-list-item-content {
  padding: 0 !important;
}

.left-column {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.right-padding {
  .mat-list-item-content {
    .mat-list-text {
      margin-right: 20px;
    }
  }
}

.left-padding {
  .mat-list-item-content {
    .mat-list-text {
      margin-left: 20px;
    }
  }
}
