<div class="center-align">
  <h1 class="app-name">М &amp; Л | admin</h1>

  <md-list class="welcome-page-menu">
    <md-list-item class="center-align">
      <a md-button class="llta-button" routerLink="create-test">Додати тест</a>
    </md-list-item>

    <md-divider></md-divider>

    <md-list-item>
      <a md-button class="llta-button" routerLink="create-category">Додати категорію</a>
    </md-list-item>

    <md-divider></md-divider>

    <md-list-item>
      <a md-button class="llta-button" routerLink="tests">Відкрити список тестів</a>
    </md-list-item>

    <md-divider></md-divider>

    <md-list-item>
      <a md-button class="llta-button" routerLink="categories">Відкрити список категорій</a>
    </md-list-item>
  </md-list>
</div>