@import "../../css/variables";
@import "../../css/theme";

.answers-table {
  width: 100%;
}

.question-title {
  margin-top: 30px;
}

.answers-radio {
  padding-left: 15px;
}

.label {
  margin: 0;
}
