@import "../../styles/variables";
@import "../../styles/theme";

.answers-table {
  width: 100%;
}

.question-title {
  margin-top: 30px;
}

.answers-radio {
  margin-left: 15px;
  margin-top: 10px;
}

.label {
  margin: 0;
}

.inputs-answers-table,
td,
th {
  border: 1px solid $table-border-color;
}

.inputs-answers-table {
  border-collapse: collapse;

  td,
  th {
    padding: 5px;
  }

  td:not(:first-of-type) {
    padding-left: 13px;
  }

  min-width: 150px;
  width: 150px;

  .number-label {
    padding: 0 13px;
  }
}