<md-input-container class="block">
  <input mdInput
         required
         type="number"
         name="tasksQuantity"
         placeholder="Виберіть кількість запитань в тесті"
         min="1"
         [(ngModel)]="tasksQuantity">
</md-input-container>

<div *ngIf="tasksQuantity > 0">
  <form novalidate
        (ngSubmit)="onSubmit()"
        #createtestform="ngForm"
        class="create-test-form">
    <md-tab-group>
      <md-tab *ngFor="let number of getNumbersRange(tasksQuantity); let i=index"
              label="{{ i + 1 }}"
              id="tab{{ i }}"
              (click)="currentTab = i"
              [ngClass]="{'active' : currentTab == i}">
        <md-input-container class="block">
          <textarea mdInput
                    required
                    name="question{{ i }}"
                    placeholder="Завдання"
                    [(ngModel)]="questions[i]">
          </textarea>
        </md-input-container>

        <md-slide-toggle class="block"
                         name="addImage{{ i }}"
                         [(ngModel)]="addImages[i]">
          Додати зображення
        </md-slide-toggle>

        <input type="file"
               hidden
               id="image{{ i }}"
               (change)="onChange($event, i)"
               accept="image/*">
        <button md-raised-button
                *ngIf="addImages[i]"
                (click)="clickOnElement('#image' + i)">
          Додати зображення
        </button>
        <md-input-container *ngIf="addImages[i] && images[i]?.name">
          <input mdInput
                 disabled
                 [value]="images[i]?.name">
        </md-input-container>

        <md-slide-toggle class="block"
                         name="matching{{ i }}"
                         [(ngModel)]="matchings[i]">
          Завдання на відповідність
        </md-slide-toggle>

        <md-input-container class="block">
          <input mdInput
                 required
                 type="number"
                 name="answersQuantity{{ i }}"
                 placeholder="Виберіть кількість відповідей"
                 min="1"
                 [(ngModel)]="answersQuantities[i]">
        </md-input-container>

        <div *ngIf="!matchings[i]">
          <md-input-container class="block"
                              *ngFor="let number of getNumbersRange(answersQuantities[i])">
            <textarea mdInput
                      required
                      name="answer_{{ number }}_{{ i }}"
                      [(ngModel)]="answers[i][number]">
            </textarea>
          </md-input-container>
        </div>

        <table class="answers-table" *ngIf="matchings[i]">
          <thead>
            <tr>
              <th>
                <md-input-container class="block">
                  <input mdInput
                         required
                         name="answersTableTitle0_{{ i }}"
                         placeholder="Заголовок"
                         [(ngModel)]="answersTableTitles[i][0]">
                </md-input-container>
              </th>
              <th>
                <md-input-container class="block">
                  <input mdInput
                         required
                         name="answersTableTitle1_{{ i }}"
                         placeholder="Заголовок"
                         [(ngModel)]="answersTableTitles[i][1]">
                </md-input-container>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let number of getNumbersRange(answersQuantities[i])">
              <td>
                <md-input-container class="block">
                  <input mdInput
                         required
                         name="answersNumbers{{ number }}_{{ i }}"
                         [(ngModel)]="answersNumbers[i][number]">
                </md-input-container>
              </td>
              <td>
                <md-input-container class="block">
                  <input mdInput
                         required
                         name="answersLetters{{ number }}_{{ i }}"
                         [(ngModel)]="answersLetters[i][number]">
                </md-input-container>
              </td>
            </tr>
          </tbody>
        </table>
      </md-tab>
    </md-tab-group>

    <button md-raised-button
            class="center-align"
            [disabled]="!createtestform.form.valid">
      Створити тест
    </button>
  </form>
</div>